<nav
  class="navbar navbar-dark sticky-top p-2 bg-dark flex-md-nowrap"
  id="dashboard"
>
  <%= link_to "Home", root_path, class:"nav-link text-white p-2" %>

  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <%= button_to 'Sign Out', destroy_account_session_path, method: :delete,
      class:"nav-link btn btn-danger p-2 text-white"%>
    </li>
  </ul>
</nav>
