<nav id="dashboard" class="col-md-2 mt-3 d-none d-md-block bg-light sidebar">
  <div class="sidebar-sticky">
    <%= render "layouts/nav/#{current_account.admin? ? "admin" : "user"}" %>
    <h6
      class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted"
    >
      <span>Settings</span>
      <a class="d-flex align-items-center text-muted" href="#">
        <span data-feather="plus-circle"></span>
      </a>
    </h6>
    <ul class="nav flex-column mb-2">
      <li class="nav-item">
        <%= link_to edit_account_registration_path, class:"nav-link" do %>
        <i class="fa fa-user"></i>
        Account settings <% end %>
      </li>

      <li class="nav-item">
        <%= link_to profile_path(current_account.id), class:"nav-link" do %>
        <i class="fa fa-user"></i>
        My profile <% end %>
      </li>
    </ul>
  </div>
</nav>
