<ul class="nav flex-column">
  <li class="nav-item">
    <%= link_to "Dashboard", dashboard_path, class:"nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to properties_path, class:"nav-link" do%>
    <i class="fa fa-home"></i>
    Properties <% end %>
  </li>

  <li class="nav-item">
    <%= link_to edit_account_registration_path, class:"nav-link" do %>
    <i class="fa fa-user"></i>
    Account settings <% end %>
  </li>
  <li class="nav-item">
    <%= link_to posts_path, class:"nav-link" do %>
    <span data-feather="layers"></span>
    Blog Post <% end %>
  </li>
</ul>
