<main role="main">
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Find your new home...</h1>
      <p>You can find your new home at the best price in this website.</p>
    </div>
  </div>
</main>

<section id="latest-properties" class="mb-5">
  <div class="container">
    <h2>Latest properties</h2>
    <div class="row grid"><%= render "properties/property_list" %></div>
  </div>
</section>

<section id="latest-posts" class="mb-5">
  <div class="container">
    <h2>Latest news</h2>
    <div class="row grid"><%= render "posts/post_list" %></div>
  </div>
</section>
